<div class="jumbotron center">
  <h1>Welcome to the Club!</h1>
  <h2>Share your thoughts on your favorite books with your friends</h2>
  <p>
    <%= link_to "Log In", "#", class: "btn btn-default btn-lg" %>
    <%= link_to "Sign Up", "#", class: "btn btn-success btn-lg" %>
  </p>
</div>
